.err-message{
    font-style: italic;
    color: rgb(221, 57, 54);
    font-size: 12px;
}


.mb20{
    margin-bottom:20px;
}

.mt20{
    margin-top:20px;
}

.filter-wrapper{
    padding: 0 20px;
}

h5{
    text-transform: uppercase;
    font-weight: normal;
}
table .image{
    height:50px;
    display: block;
}
.updateVariant .image{
    height:150px !important;
}
.img-cover img{
    width:100%;
    height:100%;
    object-fit: cover;
}
table strong{
    min-width:88px;
    display: inline-block;
}
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    vertical-align: middle;
}

.uk-flex-space-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.uk-flex-middle {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.uk-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.filter-wrapper{
    margin-bottom:20px;
}
.filter-wrapper .perpage{
    display: inline-block;
}
.btn{
    margin-bottom:0 !important;
    font-size:13px;
    border-radius: 0;
    height:32px;
}
.filter-wrapper .form-control{
    height:32px;
    max-width: 200px;
    font-size:13px;
    padding: 5px 15px;
}
.mr10{
    margin-right:10px;
}
.mb15{
    margin-bottom:15px;
}
.mr5{
    margin-right:5px;
}
.box .ibox{
    box-shadow: 0 2px 4px rgba(0,0,0,.1)
}
.control-label{
    display: block;
}

.form-control{
    height:31px;
}

.ml10{
    margin-left:10px;
}

.image-target{
    cursor: pointer;
}
.input-wrapper input:focus{
    border-color: #e5e6e7 !important;
}
.input-wrapper{
    position: relative;
}
.mb30{
    margin-bottom:30px;
}
.button_none{
    border: none;
    background: none;
}

.pading-action{
    padding: .75rem .4rem;
}
.active-bg{
    background-color: #ebffef;
}
.checkBoxItem{
    width: 20px;
    height: 20px;
}