.err-message {
    font-style: italic;
    color: rgb(221, 57, 54);
    font-size: 12px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb40 {
    margin-bottom: 20px;
}
.mt20 {
    margin-top: 20px;
}
.filter-wrapper {
    padding: 0 20px;
}
h5 {
    text-transform: uppercase;
    font-weight: normal;
}
table .image {
    display: block;
}
.updateVariant .image {
    height: 150px !important;
}
.img-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
table strong {
    min-width: 88px;
    display: inline-block;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}
.uk-flex-space-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.uk-flex-nowrap {
    flex-wrap: nowrap;
}
.uk-flex-middle {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.uk-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.filter-wrapper {
    margin-bottom: 20px;
}
.filter-wrapper .perpage {
    display: inline-block;
}
.btn {
    margin-bottom: 0 !important;
    font-size: 13px;
    border-radius: 0;
    height: 32px;
}
.filter-wrapper .form-control {
    height: 32px;
    max-width: 200px;
    min-width: 175px;
    font-size: 13px;
    padding: 5px 15px;
}
.form-control-hgt-30 {
    height: 30px !important;
    padding: 0px 15px !important;
}
.hight-42 {
    height: 42px !important;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mr5 {
    margin-right: 5px;
}
.box .ibox {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}
.control-label {
    display: block;
}
.ml10 {
    margin-left: 10px;
}
.image-target {
    cursor: pointer;
}
.input-wrapper input:focus {
    border-color: #e5e6e7 !important;
}
.input-wrapper {
    position: relative;
}
.input-wrapper .baseUrl{
    position: absolute;
    height:31px;
    line-height:31px;
    display: inline-block;
    padding:0 10px;
    left:0;
    top:0;
    background: linear-gradient(to bottom,#fff,#f9fafb);
    border-color: #e5e6e7 !important;
    border:1px solid;
    border-right:0;
}
.seo-canonical{
    color:navy;
    font-weight:600;
}
.button-fix{
    position: fixed;
    bottom:30px;
    right:30px;
}
.w .select2-container--default{
    width:100% !important;
}
.w .ibox-content{
    padding:10px;
}
.mb30{
    margin-bottom:30px;
}
.sortui{
    list-style: none;
    padding-left:0;
}
.sortui .ui-state-default {
    cursor: move;
}
.img-scaledown {
    display: block;
    width: 100%;
    height: 100%;
}
.img-scaledown img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.click-to-upload {
    text-align: center;
    padding: 20px;
    border: 1px dashed #b8b2b2;
}
.sortui .thumb{
    position: relative;
}
.sortui .variant-delete-image,
.sortui .delete-image{
    position: absolute;
    background: linear-gradient(to bottom,#fff,#f9fafb);
    color:red;
    right:10px;
    top:10px;
    border:0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: inline-block;
    width:25px;
    height:25px;
}
.sortui .variant-delete-image:hover,
.sortui .delete-image:hover{
    background: red;
    color:#fff;
}

.hidden {
    display: none;
}

.select2-container--default .select2-selection--multiple {
    border: solid #e2e7f1 1px !important;
}

.flex-direction-column {
    flex-direction: column;
}

.fsz-5 {
    font-weight: 500;
}

.note-tag {
    color: #4f4f4f;
    font-size: 10px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #e6ffe3 !important;
}

.btn-find {
    width: 100px;
}

.btn-permission {
    max-width: 180px;
    min-width: 130px;
    padding: 5px 15px;
}

.fixed-save-product.active {
    position: fixed;
    right: 20px;
    bottom: 90px;
    left: 0;
    z-index: 10000;
    transition: 1.5s ease-in-out;
}

.sticky-find {
    position: sticky;
    top: 300px;
    z-index: 1000;
}

.text-small {
    font-size: 12px;
    font-style: italic;
}

.remove-attribute {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eb4757;
    color: #fff;
    border: none;
    padding: 20px 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.remove-attribute:hover {
    background-color: #c82333;
    transform: scale(1.05);
    color: #fff;
}
.remove-attribute i {
    font-size: 18px;
    margin-right: 0;
}

.add-variant {
    height: 42px;
    color: #286cca;
    border: 1px dashed #3257ec;
    background: #f3f3f3;
    text-align: center;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    padding: 0 42px;
    margin-top: 20px;
}

.hiden {
    display: none;
}

.turnOnVariant {
    cursor: pointer;
}

.select-option {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #afafaf;
    border-radius: 4px;
    cursor: text;
    padding: 5px 3px;
    position: relative;
}

.border-table {
    border: 1px solid #afafaf !important;
    border-radius: 20px !important;
}

.text-note {
    color: #515151;
}

.text-overflow {
    width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.click-to-upload{
    text-align: center;
    padding: 20px 0;
    border: 1px dashed #afafaf;
}

.hight-85 {
    height: 85px;
}

.click-to-upload-variant {
    text-align: center;
    padding: 20px 0;
    border: 1px dashed #afafaf;
}

.prc-0 {
    padding-left: 0 !important;
}

input:disabled {
    background-color: #f6f6f6 !important;
    cursor: not-allowed;
}

.uk-flex-space-around {
    justify-content: space-around;
}

.variant-row {
    cursor: pointer;
}

.w-70 {
    width: 70px !important;
}

.notification {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #d9d9d9;
    border-radius: 4px;
    font-size: 14px;
    z-index: 100000;
}
.ui-sortable-slide{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    padding: 0;
    list-style-type: none;
}
.ui-sortable{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    padding: 0;
    list-style-type: none;
}
.ui-sortable li {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(48, 48, 48, 0.1);
    position: relative; 
}
.uk-baseline{
    align-items: baseline
}
/* end hòa */



/* PROMOTION CSS */
.custom-img {
    width: 60px;
    height: auto;
}
.multipleSelect2 {
    width: 100% !important;
}

.conditionLabel {
    color: #208a22;
}

.errorLine td input{
    border: 1px solid red
}

.hr-custom {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}

.modal-body.product-list {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 15px;
}

.hr-custom {
    border-bottom: 1px dashed #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-thumbnail {
    object-fit: cover;
    border-radius: 5px;
}

.chooseProductPromotionTd {
    width: 200px !important;
}

.modal-body input[type="text"] {
    margin-bottom: 20px;
}

.search-object-item {
    cursor: pointer;
}

.boxWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.fixGrid6 {
    max-width: 50%;
    flex-basis: 50%;
    flex-grow: 0;
    padding: 0 6px;
}

.product-quantity {
    cursor: pointer;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    background: #fff;
    padding: .517rem .95rem;
    min-height: 40px;
}

.product-quantity p {
    margin: 0;
    color: #888
}

.product-quantity .boxSearchIcon {
    width: 29px;
    height: 16px;
    text-align: center;
}

.goods-item {
    background-color: #20BB59;
    padding: 5px 10px;
    margin-bottom: 8px;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    position: relative;
    color: #fff;
}

.goods-item span {
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 90%;
}

.goods-item button {
    right: 0;
    top: 2px;
    border: none;
    background-color: transparent;
    color: #ff4d4d;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease, transform 0.2s ease;
    position: absolute;
}

.promotion-name {
    display: inline-block;
    max-width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* End promotion css */

.ui-sortable li .thumb button:hover {
    background-color: rgba(217, 83, 79, 0.8);
}

/* widget */

.search-model{
    border-radius: 5px;
    height: 42px;
    padding-left: 35px;
    font-size: 14px;
    border: 1px solid #e3e9ed;
    outline: 0;
}

.search-model-box{
    position: relative;
}

.search-model-box .fa{
    position: absolute;
    top: 15px;
    left: 15px;
}

.delete button {
    font-size: 25px;
}

.list-group li:hover{
    background-color: #f0f8ff;
}

.ajax-search-result {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    background-color: #fff ;
}

/* Quyen customize menu */
.mb15 {
    margin-bottom: 15px;
}

.error {
    font-size: italic;
    margin-top: 5px;
    color: red;
}

.form-error {
    display: none;
}

.m0 {
    margin: 0px !important
}

.m-item label {
    margin: 0;
    font-weight: normal;
    color: blue;
    margin-left: 5px;
    cursor: pointer;
}

.m-item {
    margin-bottom: 10px;
}

/* Quyen customize menu */
