.err-message{
    font-style: italic;
    color: rgb(221, 57, 54);
    font-size: 12px;
}
.mb20{
    margin-bottom:20px;
}
.mb40{
    margin-bottom:20px;
}
.mt20{
    margin-top:20px;
}
.filter-wrapper{
    padding: 0 20px;
}
h5{
    text-transform: uppercase;
    font-weight: normal;
}
table .image{
    display: block;
}
.updateVariant .image{
    height:150px !important;
}
.img-cover img{
    width:100%;
    height:100%;
    object-fit: cover;
}
table strong{
    min-width:88px;
    display: inline-block;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}
.uk-flex-space-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.uk-flex-nowrap{
    flex-wrap: nowrap;
}
.uk-flex-middle {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.uk-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.filter-wrapper{
    margin-bottom:20px;
}
.filter-wrapper .perpage{
    display: inline-block;
}
.btn{
    margin-bottom:0 !important;
    font-size:13px;
    border-radius: 0;
    height:32px;
}
.filter-wrapper .form-control{
    height:32px;
    max-width: 200px;
    min-width: 170px;
    font-size:13px;
    padding: 5px 15px;
}
.form-control-hgt-30{
    height: 30px !important;
    padding: 0px 15px !important;
}
.hight-42{
    height: 42px !important;
}
.mr5{
    margin-right:5px;
}
.mr10{
    margin-right:10px;
}
.mb15{
    margin-bottom:15px;
}
.mr5{
    margin-right:5px;
}
.box .ibox{
    box-shadow: 0 2px 4px rgba(0,0,0,.1)
}
.control-label{
    display: block;
}
.ml10{
    margin-left:10px;
}
.image-target{
    cursor: pointer;
}
.input-wrapper input:focus{
    border-color: #e5e6e7 !important;
}
.input-wrapper{
    position: relative;
}
.mb30{
    margin-bottom:30px;
}
.button_none{
    border: none;
    background: none;
}
.pading-action{
    padding: .75rem .4rem;
}
.active-bg{
    background-color: #ebffef;
}
.checkBoxItem{
    width: 20px;
    height: 20px;
}
.meta-title{
    color: #1b3fd1;
}
.canonical{
    color: #2f9119;
}
.meta-description{
    font-size: 15px;
}
.form-select-important{
    line-height: 1 !important;
}
.textarea-10{
    min-height: 100px !important;
}
.ui-sortable {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    padding: 30px 0;
    list-style-type: none;
}
.ui-sortable li {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
.ui-sortable li .thumb {
    position: relative;
}
.ui-sortable li .thumb img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
.ui-sortable li .thumb button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #ffff;
    border: none;
    color: #e32828;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
.ui-sortable li .thumb button:hover {
    background-color: rgba(217, 83, 79, 0.8);
}
.hidden{
    display: none;
}
.select2-container--default .select2-selection--multiple{
    border: solid #e2e7f1 1px !important;
}
.flex-direction-column{
    flex-direction: column;
}
.fsz-5{
    font-weight: 500;
}
.color-note{
    color: #208a22;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #e6ffe3 !important;
}
.btn-find{
    width: 100px;
}
.btn-permission{
    max-width: 180px;
    min-width: 130px;
    padding: 5px 15px;
}

.fixed-save-product.active {
    position: fixed;
    right: 20px;
    bottom: 90px;
    left: 0;
    z-index: 10000;
    transition: .5s ease;
}
.sticky-find {
    position: sticky;
    top: 300px;
    z-index: 1000;
}
.text-small{
    font-size: 12px;
    font-style: italic;
}
.remove-attribute {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eb4757;
    color: #fff;
    border: none;
    padding: 20px 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.remove-attribute:hover {
    background-color: #c82333;
    transform: scale(1.05);
    color: #fff;
}
.remove-attribute i {
    font-size: 18px;
    margin-right: 0;
}
.add-variant{
    height: 42px;
    color: #286cca;
    border: 1px dashed #3257ec;
    background: #f3f3f3;
    text-align: center;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    padding: 0 42px;
    margin-top: 20px;
}
.hiden{
    display: none;
}
.turnOnVariant{
    cursor: pointer;
}
.select-option{
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple {
    background-color: #f4f4f4;
    border: 1px solid #afafaf;
    border-radius: 4px;
    cursor: text;
    padding: 5px 3px;
    position: relative;
    height: 42px;
}
.border-table{
    border: 1px solid #afafaf !important;
    border-radius: 20px !important;
}
.text-note{
    color: #515151;
}
.text-overflow{
    width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.click-to-upload{
    text-align: center;
    padding: 20px 0;
    border: 1px dashed #afafaf;
}
.hight-85{
    height: 85px;
}
.click-to-upload-variant{
    text-align: center;
    padding: 20px 0;
    border: 1px dashed #afafaf;
}
.prc-0{
    padding-left: 0 !important;
}
input:disabled {
    background-color: #f6f6f6 !important;
    cursor: not-allowed;
}
.uk-flex-space-around{
    justify-content: space-around;
}
.variant-row{
    cursor: pointer;
}
.w-70{
    width: 70px !important;
}
.notification {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    background-color: #eb1d0f;
    border-radius: 4px;
    font-size: 14px;
    z-index: 100000;
}

/* Quyen customize menu */
.mb15 {
    margin-bottom: 15px;
}

.error {
    font-size: italic;
    margin-top: 5px;
    color: red;
}

.form-error{
    display: none;
}
/* Quyen customize menu */

